body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
  
  #root {
    height: 100%;
  }
  
  .main-content {
    background-image: url('./assets/backgroundImage.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    overflow-y: auto;
    padding: 8px; /* Adjust padding as needed */
  }
  